:host{
  min-height: calc(90vh);
  display: block;
}
.container {
    width: auto;
    margin: 10px;
    border: 1px solid #555;
    background: #fbfbfc;
    width: 80%;
    margin: 20px auto;
    border-radius: 1rem;
    min-height: calc(80vh);
  }
  .mat-drawer-inner-container {
    background-color: #fbfbfb;
  }