.container {
    width: auto;
    margin: 10px;
    border: 1px solid #555;
    background: #fbfbfc;
    width: 80%;
    margin: 20px auto;
    border-radius: 1rem;
  }
  .mat-drawer-inner-container {
    background-color: #fbfbfb;
  }