$primary-color:#7d632a;
$secondary-color:#033336;
$navbar-dark-primary: #18283b;
$navbar-dark-secondary: #2c3e50;
$navbar-light-primary: #f5f6fa;
$navbar-light-secondary: #8392a5;
$primary-body-bg: #033336;