@import '../../assets/colors';
:host {
  min-height: calc(80vh);
}

.head-title {
    margin: 15px 30px;
    font-size: 1.2rem;
    color: $primary-body-bg;
    border-bottom: 2px solid $primary-body-bg;
    padding-bottom: 5px;
}
.random {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  &__description {
    flex: 0 0 45%;
    label {
      font-weight: 500;
      display: block;
      color: $primary-body-bg;
    }
    .desc {
        padding-left: 15px;
    }
   img {
        height: 430px;
        border: 1px solid #e3e3e3;
        padding: 4px;
        border-radius: 5px;
   }
  }
}
